
SqlBuilder\.Test/bin/Debug/

SqlBuilder\.Test/obj/Debug/
/SqlStatementBuilder/bin/Debug/netstandard2.0
/SqlStatementBuilder/obj
/SqlStatementBuilder.Test/bin/Debug
/SqlStatementBuilder.Test/obj/Debug
/.vs/SqlBuilder/v15
/.vs/SqlStatementBuilder/v15
/SqlStatementBuilder/bin/Release
/SqlStatementBuilder.Test/bin/Release
/SqlStatementBuilder.Test/obj/Release
/packages
/SqlStatementBuilder/bin
/SqlStatementBuilder.Test/bin
/TestResults

.vs/SqlStatementBuilder/v16/.suo

SqlStatementBuilder.sln.DotSettings.user
